<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>Characters</h1>
        <div th:with="characters = ${characters != null} ? ${characters} : ${#session.getAttribute('characters')}">
            <div th:each ="character : ${characters}">
                <a th:href="@{/character}">
                    <span th:text="${character.name}"></span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <form th:action="@{/characternew}" th:method="post">
            <input type="text" name="name" />
            <input type="text" name="gender" />
            <input type="submit"/>
        </form>
    </div>
</body>
</html>
