<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>Characters</h1>
        <div th:each ="character : ${characters}">
            <a th:href="@{character/{id}(id=${character.id})}">
                <span th:text="${character.name}"></span>
            </a>
        </div>
    </div>
    <div>
        <form th:action="@{/character/new}" th:method="post">
            <input type="text" name="name" />
            <input type="text" name="gender" />
            <input type="submit" value="Create new"/>
        </form>
    </div>
</body>
</html>
