<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <h2 th:text="${character.name}"></h2>
        <div>
            <table>
                <tr>
                    <td th:text="${character.gender}"></td>
                </tr>
                <tr>
                    <td th:text="${character.appearence}"></td>
                </tr>
                <tr>
                    <td th:text="${character.background}"></td>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <th>STR</th>
                <td th:text="${character.STR}"></td>
                <th>DEX</th>
                <td th:text="${character.DEX}"></td>
                <th>CON</th>
                <td th:text="${character.CON}"></td>
            </tr>
            <tr>
                <th>INT</th>
                <td th:text="${character.INT}"></td>
                <th>WIS</th>
                <td th:text="${character.WIS}"></td>
                <th>CHA</th>
                <td th:text="${character.CHA}"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>athletic</th>
                <td th:text="${character.athleticBonus}"></td>
                <th>acrobatic</th>
                <td th:text="${character.acrotabicBonus}"></td>
                <th>sleight of hands</th>
                <td th:text="${character.sleightOfHandsBonus}"></td>
            </tr>
            <tr>
                <th>stealth</th>
                <td th:text="${character.stealthBonus}"></td>
                <th>investigation</th>
                <td th:text="${character.investigationBonus}"></td>
                <th>history</th>
                <td th:text="${character.historyBonus}"></td>
            </tr>
            <tr>
                <th>nature</th>
                <td th:text="${character.natureBonus}"></td>
                <th>arcana</th>
                <td th:text="${character.arcanaBonus}"></td>
                <th>religion</th>
                <td th:text="${character.religionBonus}"></td>
            </tr>
            <tr>
                <th>perception</th>
                <td th:text="${character.perceptionBonus}"></td>
                <th>insight</th>
                <td th:text="${character.insightBonus}"></td>
                <th>survival</th>
                <td th:text="${character.survivalBonus}"></td>
            </tr>
            <tr>
                <th>medicine</th>
                <td th:text="${character.medicineBonus}"></td>
                <th>animal handling</th>
                <td th:text="${character.animalHandlingBonus}"></td>
                <th>deception</th>
                <td th:text="${character.decetpionBonus}"></td>
            </tr>
            <tr>
                <th>investigation</th>
                <td th:text="${character.investigationBonus}"></td>
                <th>performance</th>
                <td th:text="${character.performanceBonus}"></td>
                <th>persuation</th>
                <td th:text="${character.persuationBonus}"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>current hp</th>
                <td th:text="${character.curHP}"></td>
                <th>maximum hp</th>
                <td th:text="${character.maxHP}"></td>
                <th>temporal hp</th>
                <td th:text="${character.tmpHP}"></td>
            </tr>
            <tr>
                <th>fails</th>
                <td th:text="${character.deathSavesFailed}"></td>
                <th>successes</th>
                <td th:text="${character.deathSavesPassed}"></td>
                <th>hit dices</th>
                <td th:text="${character.curHitDices}"></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>initiative</th>
                <td th:text="${character.initiative}"></td>
                <th>speed</th>
                <td th:text="${character.speed}"></td>
                <th>armor class</th>
                <td th:text="${character.armorClass}"></td>
            </tr>
        </table>

    </div>

    <div>
        <form th:method="post" th:action="@{/character/{id}/updateHp(id=${character.id})}">
            <h4>change hp</h4>

            <label>current hp <input type="number" name="curHp" th:value="${character.curHP}" /></label><br/>
            <label>temporal hp <input type="number" name="tmpHp" th:value="${character.tmpHP}" /></label><br/>
            <label>maximum hp <input type="number" name="maxHp" th:value="${character.maxHP}" /></label><br/>
            <label>death saves fails <input type="number" name="deathSavesFailed" th:value="${character.deathSavesFailed}" /></label><br/>
            <label>death saves successes <input type="number" name="deathSavesPassed" th:value="${character.deathSavesPassed}" /></label><br/>
            <label>hit dices <input type="number" name="currentHitDices" th:value="${character.curHitDices}" /></label><br/>
            <input type="submit" />
        </form>
    </div>

    <div>
        <form th:method="post" th:action="@{/character/{id}/updateStats(id=${character.id})}">
            <h4>change stats</h4>

            <label>speed <input type="number" name="speed" th:value="${character.speed}" /></label><br/>
            <label>exp <input type="number" name="exp" th:value="${character.exp}" /></label><br/>
            <label>armor class <input type="number" name="armorClass" th:value="${character.armorClass}" /></label><br/>
            <input type="submit" />
        </form>
    </div>

    <div>
        <form th:method="post" th:action="@{/character/{id}/updateAbilities(id=${character.id})}">
            <h4>change abilities</h4>

            <label>STR <input type="number" name="STR" th:value="${character.STR}" /></label><br/>
            <label>DEX <input type="number" name="DEX" th:value="${character.DEX}" /></label><br/>
            <label>CON <input type="number" name="CON" th:value="${character.CON}" /></label><br/>
            <label>INT <input type="number" name="INT" th:value="${character.INT}" /></label><br/>
            <label>WIS <input type="number" name="WIS" th:value="${character.WIS}" /></label><br/>
            <label>CHA <input type="number" name="CHA" th:value="${character.CHA}" /></label><br/>
            <input type="submit" />
        </form>
    </div>

    <div>
        <form th:method="post" th:action="@{/character/{id}/updateSkills(id=${character.id})}">
            <h4>change skills</h4>

            <label>athletic <input type="number" name="athletic" th:value="${character.athleticBonus}" /></label><br/>
            <label>acrobatic <input type="number" name="acrobatic" th:value="${character.acrotabicBonus}" /></label><br/>
            <label>sleight of hands <input type="number" name="sleightOfHands" th:value="${character.sleightOfHandsBonus}" /></label><br/>
            <label>stealth <input type="number" name="stealth" th:value="${character.stealthBonus}" /></label><br/>
            <label>investigation <input type="number" name="investigation" th:value="${character.investigationBonus}" /></label><br/>
            <label>history <input type="number" name="history" th:value="${character.historyBonus}" /></label><br/>
            <label>nature <input type="number" name="nature" th:value="${character.natureBonus}" /></label><br/>
            <label>arcana <input type="number" name="arcana" th:value="${character.arcanaBonus}" /></label><br/>
            <label>religion <input type="number" name="religion" th:value="${character.religionBonus}" /></label><br/>
            <label>perception <input type="number" name="perception" th:value="${character.perceptionBonus}" /></label><br/>
            <label>insight <input type="number" name="insight" th:value="${character.insightBonus}" /></label><br/>
            <label>survival <input type="number" name="survival" th:value="${character.survivalBonus}" /></label><br/>
            <label>medicine <input type="number" name="medicine" th:value="${character.medicineBonus}" /></label><br/>
            <label>animal handling <input type="number" name="animalHandling" th:value="${character.animalHandlingBonus}" /></label><br/>
            <label>deception <input type="number" name="deception" th:value="${character.decetpionBonus}" /></label><br/>
            <label>intimidation <input type="number" name="intimidation" th:value="${character.intimidationBonus}" /></label><br/>
            <label>performance <input type="number" name="performance" th:value="${character.performanceBonus}" /></label><br/>
            <label>persuasion <input type="number" name="persuasion" th:value="${character.persuationBonus}" /></label><br/>

            <input type="submit" />
        </form>
    </div>

    <div>
        <form th:method="post" th:action="@{/character/{character_id}/description(character_id=${character.id})}">
            <h4>change description</h4>

            <label>name <input type="text" name="name" th:value="${character.name}" /></label><br/>
            <label>background <input type="text" name="background" th:value="${character.background}" /></label><br/>
            <label>appearance <input type="text" name="appearance" th:value="${character.appearence}" /></label><br/>
            <label>gender <input type="text" name="gender" th:value="${character.gender}" /></label><br/>
            <input type="submit" />
        </form>
    </div>

    <div>
        <a th:href="@{/character/{character_id}/spells(character_id=${character.id})}">to spellbook</a>
        <a th:href="@{/character/{character_id}/items(character_id=${character.id})}">to inventory</a>
    </div>

    <div th:if="${character.race != null}">
        <span th:text="${character.race.name}"></span>
        <span th:text="${character.race.description}"></span>
    </div>
    <a th:href="@{/character/{character_id}/changeRace(character_id=${character.id})}">Change race</a><br />

    <div th:if="${character.characterClass != null}">
        <span th:text="${character.characterClass.name}"></span>
        <span th:text="${character.characterClass.hitDice}"></span>
    </div>
    <a th:href="@{/character/{character_id}/changeClass(character_id=${character.id})}">Change class</a><br />

</body>
</html>
