<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>edit item</h1>
    <div>
        <form th:action="@{/items}" th:method="post">
            <input type="text" th:value="${item.name}" name="name"/>
            <input type="text" th:value="${item.description}" name="description"/>
            <input type="number" th:value="${item.weight}" name="weight"/>
            <input type="text" th:value="${item.itemType}" name="itemType"/>
            <input type="hidden" th:value="${item.id}" name="itemId"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>