<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>edit class</h1>
    <div>
        <form th:action="@{/class}" th:method="post">
            <input type="text" th:value="${characterClass.name}" name="name"/>
            <div>
                <select name="hitDice">
                    <option th:each="hitDice : ${hitDices}" th:value="${hitDice}" th:text="${hitDice}"></option>
                </select>
            </div>
            <input type="hidden" th:value="${characterClass.id}" name="classId"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>