<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>edit race</h1>
    <div>
        <form th:action="@{/race}" th:method="post">
            <input type="text" th:value="${race.name}" name="name"/>
            <input type="text" th:value="${race.description}" name="description"/>
            <input type="hidden" th:value="${race.id}" name="raceId"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>