<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:with="character_id = ${character_id != null} ? ${character_id} : ${#session.getAttribute('character_id')}">
        <form th:method="post" th:action="@{/items/new}">
            <input type="text" name="name" />
            <input type="text" name="description" />
            <input type="number" name="weight" />
            <input type="text" name="itemType" />
            <button type="submit">Add new</button>
        </form>

        <table>
            <tr th:each="item : ${items}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.weight}"></td>
                <td th:text="${item.itemType}"></td>
                <td>
                    <form th:action="@{/items/delete}" th:method="post">
                        <input type="hidden" value="${item.id}" name="itemId">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <a th:href="@{/items/edit/{itemId}(itemId=${item.id})}">
                        <button>Edit</button>
                    </a>
                </td>
                <td>
                    <form th:action="@{/character/addItem/${character_id}(character_id=${character_id})}" th:method="post">
                        <input type="hidden" value="${item.id}" name="itemId">
                        <button type="submit">Add</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>