<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="post" th:action="@{/items/new}">
    <input type="text" name="name" />
    <input type="number" name="weight" />
    <input type="text" name="itemType" />
    <input type="text" name="description" />
    <button type="submit">Add new</button>
</form>

<table>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.weight}"></td>
        <td th:text="${item.itemType}"></td>
        <td th:text="${item.description}"></td>
        <td>
            <form th:action="@{/items/delete/{id}(id=${item.id})}" th:method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <a th:href="@{/items/{itemId}(itemId=${item.id})}">
                <button>Edit</button>
            </a>
        </td>
        <td th:if="${character_id != null}">
            <form th:action="@{'/character/' + ${character_id} + '/addItem'}" th:method="post">
                <input type="hidden" th:value="${item.id}" th:name="item_id">
                <button type="submit">Add</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
