<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form th:method="post" th:action="@{/race/new}">
            <input type="text" name="name" />
            <input type="text" name="description" />
            <button type="submit">Add new</button>
        </form>

        <table>
            <tr th:each="race : ${races}">
                <td th:text="${race.name}"></td>
                <td th:text="${race.description}"></td>
                <td>
                    <form th:action="@{/race/delete/{id}(id=${race.id})}" th:method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <a th:href="@{/race/{raceId}(raceId=${race.id})}">
                        <button>Edit</button>
                    </a>
                </td>
                <td th:if="${character_id != null}">
                    <form th:action="@{'/character/' + ${character_id} + '/addRace'}" th:method="post">
                        <input type="hidden" th:value="${race.id}" th:name="race_id">
                        <button type="submit">Add</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>